@model NCIProjects.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dt>
                @Html.Label("Avatar:")
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            </dd>
        }


        <dt>
            @Html.Label("Student Name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname) @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.Label("Student Number:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.Label("Course:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.course_name)
        </dd>

        <dt>
            @Html.Label("Stream:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stream.stream_name)
        </dd>

        <dt>
            @Html.Label("Supervisor:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supervisor.first_name) @Html.DisplayFor(model => model.Supervisor.last_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
